*.suo
Modules/Common/bin/
Modules/Common/obj/
Modules/Preprocessing/bin/
Modules/Preprocessing/obj/
Modules/Algorithms/CosineSimilary/bin/
Modules/Algorithms/CosineSimilary/obj/
Modules/Algorithms/DeepLearning/bin/
Modules/Algorithms/DeepLearning/obj/
Modules/WebApplication/bin/
Modules/WebApplication/obj/
